/*Card container*/
.card {
    width: 264px;
    height: 390px;
    border-radius: 14px;
    padding: 14px;
    display: flex;
    flex-direction: column;


    &.bg-normal {
        @include bg-card(var(--bg-normal));
    }

    &.bg-effect {
        @include bg-card(var(--bg-effect));
    }

    &.bg-fusion {
        @include bg-card(var(--bg-fusion));
    }

    &.bg-ritual {
        @include bg-card(var(--bg-ritual));
    }

    &.bg-synchro {
        @include bg-card(var(--bg-synchro));
    }

    &.bg-xyz {
        @include bg-card(var(--bg-xyz));
        .title-name{
            color: #fff;
        }
    }


    /*Card title*/
    .card-title {
        display: flex;
        justify-content: space-between;
        height: 30px;
        align-items: center;
        margin: 2px;
        padding: 2px;

        .title-name {
            font-size: 17px;
            font-variant: small-caps;
            font-family: var(--font-title), serif;
            font-weight: 600;
        }


        .atribute {
            width: 22px;
            height: 22px;

            &.dark {
                background: url('assets/attributes/dark.webp');
                background-size: cover;
            }

            &.light {
                background: url('assets/attributes/light.webp');
                background-size: cover;
            }
            
            &.wind {
                background: url('assets/attributes/wind.webp');
                background-size: cover;
            }
        }
    }

    /* Rank or level */

    .content-star {
        margin: 0 12px 2px 11px;
        display: flex;
    }

    .level,
    .rank {
        display: flex;
        gap: 2px;
    }

    .level {
        justify-content: end;

        .star {
            @include star(var(--st-level))
        }
    }

    .rank {

        .star {
            @include star(var(--st-rank))
        }
    }

    /* Image card */
    .card-image {
        width: 206px;
        height: 206px;
        margin: 4px auto 0 auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    /* Description*/
    .content-description {
        margin-top: 12px;
        padding: 6px 6px;
        height: 68px;
    
        
        p {
            font-family: var(--font-description), serif;
            &.long-text {
                line-height: 1;    
                font-size: 7.5px;  
            }
        }

        & p:nth-child(1) {
            font-size: 10px;
            font-weight: bold;
        }

        & p:nth-child(2) {
            font-size: 8px;
        }
    }

    .bg-normal .description-text {
        font-style: italic;
    }



    /* Atk & Def */
    .atk-e-def {
        display: flex;
        justify-content: end;
        font-size: 10.5px;
        gap: 26px;
        font-weight: bold;
        margin: -4px 4px;

        span {
            margin-top: 2px;
            margin-right: 2px;
            font-family: var(--font-atkdef), serif;
            font-weight: 550;
        }
    }

    // endcard
}