:root {
    // /dist/assets/backgrounds/normal.webp
    --bg-normal: url('assets/backgrounds/normal.webp');

    // /dist/assets/backgrounds/effect.webp
    --bg-effect: url('assets/backgrounds/effect.webp');

    // /dist/assets/rank.png
    --st-rank: url('assets/rank.png');

    // /dist/assets/star.png
    --st-level: url('assets/level.png');

    --font-title: "Caudex";
    --font-description: "Cardo";
    --font-atkdef: "Lustria";
}