:root {
    --bg-normal: url('../assets/backgrounds/normal.webp');

    --bg-effect: url('../assets/backgrounds/effect.webp');

    --bg-ritual: url('../assets/backgrounds/ritual.webp');

    --bg-fusion: url('../assets/backgrounds/fusion.webp');

    --bg-synchro: url('../assets/backgrounds/synchro.webp');

    --bg-xyz: url('../assets/backgrounds/xyz.webp');

    --st-rank: url('../assets/rank.png');

    --st-level: url('../assets/level.png');

    --font-title: "Caudex";
    --font-description: "Cardo";
    --font-atkdef: "Lustria";
}