include pug/_cards-data
include pug/_mixins

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Ygo Cards
        link(rel="stylesheet" href="style.css")
    body

        .container
            each card in cards
                +card(card)


