doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Ygo Cards
        link(rel="stylesheet" href="style.css")
    body
        .container
            // DARK MAGICIAN
            .card.bg-normal

                // Title
                .card-title
                    p.title-name Dark Magician
                    .atribute.dark

                // Level or Rank
                .content-star.level
                    - var s = 1;
                        while s <= 7
                            .star
                            - s++

                // Card image
                .card-image 
                    img(src="https://uploads2.yugioh.com/card_images/257/detail/Dark-Magician.jpg?1375127294" alt="Dark Magician")

                //Description
                .content-description 
                    p [Spellcaster/Normal]
                    p.description-text The ultimate wizard in terms of attack and defense.
                .atk-e-def
                    span.atk 2500
                    span.def 2100
            
            //DARK MAGICIAN GIRL
            .card.bg-effect

                // Title
                .card-title
                    p.title-name Dark Magician Girl
                    .atribute.dark

                // Level or Rank
                .content-star.level
                    - var s = 1;
                        while s <= 6
                            .star
                            - s++

                // Card image
                .card-image 
                    img(src="https://static.wikia.nocookie.net/all-fiction-battles/images/2/28/Dark_magician_girl_2nd_artwork.jpg/revision/latest/scale-to-width-down/1000?cb=20210203184704" alt="Dark Magician Girl")

                //Description
                .content-description 
                    p [Spellcaster/Effect]
                    p.description-text Gains 300 ATK for every "Dark Magician" or "Magician of Black Chaos" in the GYs.
                .atk-e-def
                    span.atk 2000
                    span.def 1700        

            // ELEMENTAL HERO NEOS
            .card.bg-normal
                // Title
                .card-title
                    p.title-name Elemental Hero Neos
                    .atribute.light

                // Level or Rank
                .content-star.level
                    - var s = 1;
                        while s <= 7
                            .star
                            - s++

                // Card image
                .card-image 
                    img(src="https://static.wikia.nocookie.net/yugioh/images/9/9e/ElementalHERONeos-TF04-JP-VG.jpg/revision/latest?cb=20120924132427&path-prefix=it" alt="Elemental Hero Neos")

                //Description
                .content-description 
                    p [Warrior/Normal]
                    p.description-text A new Elemental HERO has arrived from Neo-Space! When he initiates a Contact Fusion with a Neo-Spacian his unknown powers are unleashed.
                .atk-e-def
                    span.atk 2500
                    span.def 2000
        
                