:root {
    --bg-normal: url('assets/backgrounds/normal.webp');
    --bg-effect: url('assets/backgrounds/effect.webp');
    --st-rank: url('assets/rank.png');
    --st-level: url('assets/level.png');
}

@mixin bg-card ($typecard) {
    background: $typecard;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 10px 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

/*Card container*/
.card {
    width: 264px;
    height: 390px;
    border-radius: 14px;
    padding: 14px;
    display: flex;
    flex-direction: column;
}

.bg-normal {
    @include bg-card(var(--bg-normal));
}
.bg-effect {
    @include bg-card(var(--bg-effect));
}


.card-title {
    display: flex;
    justify-content: space-between;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    margin: 2px;
    padding: 2px;

    p {
        text-transform: uppercase;
    }

    .atribute {
        width: 22px;
        height: 22px;

        &.dark {
            background: url('assets/attributes/dark.webp');
            background-size: cover;
        }

        &.light {
            background: url('assets/attributes/light.webp');
            background-size: cover;
        }
    }
}


/* Rank or level */

@mixin star($type) {
    width: 16px;
    height: 16px;
    background: $type;
    background-size: cover;
}

.content-star {
    margin: 0 12px 2px 11px;
    display: flex;
}

.level,
.rank {
    display: flex;
    gap: 2px;
}

.level {
    justify-content: end;

    .star {
        @include star(var(--st-level))
    }
}

.rank {

    .star {
        @include star(var(--st-rank))
    }
}


/* Image card */
.card-image {
    width: 206px;
    height: 206px;
    margin: 4px auto 0 auto;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* Description*/
.content-description {
    margin-top: 12px;
    padding: 6px 6px;
    height: 68px;
    
    & p:nth-child(1) {
        font-size: 12px;
        font-weight: bold;
    }

    & p:nth-child(2) {
        font-size: 10px;
    }
}

/* Atk & Def */
.atk-e-def {
    display: flex;
    justify-content: end;
    font-size: 12px;
    gap: 30px;
    font-weight: bold;
    margin: -2px 6px;

}