- 
    var cards = [
        { 
            title: "Dark Magician",
            type: "normal", 
            attribute: "dark",
            levelorank: "level",
            star:7, 
            img: "https://uploads2.yugioh.com/card_images/257/detail/Dark-Magician.jpg?1375127294",
            clasific: "[Spellcaster/Normal]" ,
            description:"The ultimate wizard in terms of attack and defense.",
            atk:2500, 
            def:2100
        
        },
        { 
          title: "Dark Magician Girl",
          type: "effect", 
          attribute: "dark",
          levelorank: "level",
          star:6, 
          img: "https://static.wikia.nocookie.net/all-fiction-battles/images/2/28/Dark_magician_girl_2nd_artwork.jpg/revision/latest/scale-to-width-down/1000?cb=20210203184704",
          clasific: "[Spellcaster/Effect]" ,
          description:"Gains 300 ATK for every \"Dark Magician\" or \"Magician of Black Chaos\" in the GYs.",
          atk:2000, 
          def:1700
        },
        { 
            title: "Elemental Hero Neos",
            type: "normal", 
            attribute: "light",
            levelorank: "level",
            star:7, 
            img: "https://static.wikia.nocookie.net/yugioh/images/9/9e/ElementalHERONeos-TF04-JP-VG.jpg/revision/latest?cb=20120924132427&path-prefix=it",
            clasific: "[Warrior/Normal]" ,
            description:"A new Elemental HERO has arrived from Neo-Space! When he initiates a Contact Fusion with a Neo-Spacian his unknown powers are unleashed.",
            atk:2500, 
            def:2000
        
        }
          
        ]